:root{
  --bg-mail: #121212;
  --card-bg: #1e1e1e;
  --accent: #4a90e2;
  --text-main: #e4e4e4;
  --text-muted: #9a9a9a;
  --border: #2c2c2c;
  --background:#2d2e35;
}
body{
  margin: 0;
  background: #c4bfbf;
 
  min-height: 100vh;

 
}


/* This is a single-line comment */


.auth-container{
   display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1e1e1e;
  border: var(--border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
 
 border: solid 2px;

 
  padding: 40px  32px;

  max-width: 360px;
 
border-radius: 12px;
width: 100%;
margin: 0 auto;
margin-top: 25vh;
}

/* H1 */
.auth-container h1{
  color: var(--text-main);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

/* INPUT BOXES */
.auth-container form{
  width: 100%;
}
.auth-container label{
  display: flex;
  width: 80px;
  font-size: 13px;

  margin-bottom: 4px;
  color: var(--text-muted);
}




.auth-container input{
  border-radius: 8px;
  border: 1px solid #2c2c2c;
  background-color: #2a2a2a;
  color: #3b3a3a;
  padding: 11px 12px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}
.auth-container input:focus{
outline: none;
border-color: #4a90e2;
}
/* BUTTON */

.auth-container button[type="submit"]{
  background-color: var(--accent);
  margin: 10px 0px;
  border-radius: 5px;
  width: 100% ;
  padding: 5px 20px;
}
.auth-container button[type="submit"]:hover{
 cursor: pointer;
 background-color: #3a7bc8;
}
.auth-container > button{
  background: none;
  border: none;
  color: var(--text-main);
}
.auth-container > button:hover{
  text-decoration: underline;
  cursor: pointer;
}


#nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #80766c;

  border-radius: 16px;
  border: 2px solid #2b2929;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  
  margin: 20px;
  width: auto;

  position: sticky;
  top: 20px;

  box-sizing: border-box;
}
.nav-right{
  display: flex;
  align-items: center;
  gap: 12px;
 
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  margin-left: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-left span:hover{
  color: #4a90e2;
  cursor: pointer;
}
#contents pd{
  color: #9a9a9a;
  font-size: 17px;
  margin: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
#nav-bar button{
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 6px 22px;
  border-radius: 13px;
  cursor: pointer;
}
#nav-bar button:hover{
  background-color: #3a7bc8;
}

